@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200&family=Varela+Round&display=swap");

/* style */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --secondary-white: #f4f4f4;
  --orange: #ef6d6d;
  --black: #333;
  --grey: #ccc;
}

html {
  font-size: 10px;
}

body {
  font-family: "Prompt", sans-serif;
  color: var(--black);
  font-size: 2rem;
}

h1 {
  margin: 1rem;
  font-family: "Varela Round", sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
  font-size: 2rem;
  padding: 0.5rem;
}

img {
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin: 2rem;
}

/* utils */

.btn {
  transition: 0.4s;
  padding: 1rem;
  color: var(--black);
}

.btn-white {
  background-color: var(--secondary-white);
}

.btn-white:hover {
  background-color: var(--orange);
  color: var(--white);
}

.active {
  border-bottom: 2px solid salmon;
}

.passive:hover {
  border-bottom: 2px solid var(--white);
}

/* content */

/* header */

header {
  height: 100vh;
  background-image: url(img/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.welcome {
  font-size: 3rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

header h1 {
  color: var(--white);
}

header .fa-solid {
  margin-left: 10rem;
}

.center-text {
  text-align: center;
}

.underlined-h1 {
  display: inline-block;
  margin: 2.5rem;
  border-bottom: 3px solid salmon;
}

/* languages */

.languages {
  margin-top: 5rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
}

.languages .fa-solid {
  color: var(--orange);
}

/* cv */

.cv {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box {
  padding: 3rem;
}

.box-light {
  background-color: var(--secondary-white);
}

.box-dark {
  background-color: var(--grey);
}

.btn-rounded {
  border-radius: 5px
}

/* working process */

.steps {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.steps .fa-solid {
  padding: 3rem;
  background-color: var(--black);
  color: var(--secondary-white);
  border-radius: 50%;
  margin-bottom: 3rem;
}

sup {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  background-color: var(--orange);
  color: var(--secondary-white);
  border-radius: 50%;
  position: absolute;
  transform: translateX(-30px);
}

footer {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
  background-color: var(--black);
}

footer .fab {
  margin: 1.5rem;
}

/* social-media */

.fa-youtube {
  color: #c4302b;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00acee;
}

.fa-instagram {
  background: linear-gradient(
    45deg,
    #f58529,
    #dd2a7b,
    #c13584,
    #833ab4,
    #5851db,
    #405de6,
    #0088cc
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.fa-youtube:hover {
  opacity: 0.7;
}

.fa-instagram:hover {
  opacity: 0.7;
}

.fa-facebook:hover {
  opacity: 0.7;
}

.fa-twitter:hover {
  opacity: 0.7;
}

/* about */

/* .header --> black header */

.header {
  height: 15vh;
  background-color: var(--black);
  border-bottom: 5px solid var(--grey);
}

.header .passive:hover {
  border-bottom: 2px solid var(--white);
}

.header .fa-solid {
  margin-left: 10rem;
  color: var(--white);
}

.header ul {
  margin-right: 1rem;
}

/* .main --> content  */

.main {
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.2fr 0.5fr;
}

/* bio */

.photo {
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.photo img {
  padding: 1.9rem;
  border: 1px solid var(--secondary-white);
}

.info {
  padding: 5.7rem;
  border: 1px solid var(--secondary-white);
}

.photo {
  margin: 5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
}

/* skills */

.what {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
  flex-direction: column;
  background-color: var(--black);
}

/* skill bars */

.bar {
  display: grid;
  margin-bottom: 1rem;
  height: 20px;
}

.orange-bar {
  height: 20px;
  background-color: var(--orange);
}

.white-bar {
  height: 20px;
  background-color: var(--grey);
}

.bar1 {
  grid-template-columns: 1fr;
}

.bar2 {
  grid-template-columns: 3fr 1fr;
}

.bar3 {
  grid-template-columns: 2fr 1fr;
}

.bar4 {
  grid-template-columns: 9fr 1fr;
}

.what h1,
h4 {
  color: var(--white);
}

.what h1 {
  align-self: center;
  border-bottom: 2px solid var(--orange);
}

/* internet site brands */

.brands {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--grey);
  height: 150px;
  padding: 3rem;
}

.brands img {
  width: 200px;
}

/* references */

.reference {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 0.8fr);
}

.reference img {
  width: 50px;
  border-radius: 50%;
}

.reference-box {
  padding: 2rem;
  text-align: left;
  margin-top: 5rem;
}

.comment {
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid var(--grey);
}

.profile-user {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* projects */

.gallery {
  padding: 3rem;
  display: grid;
  justify-content: center;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.proje {
  transition: 0.5s;
  background-color: var(--secondary-white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.proje:hover {
  transform: translateY(-1rem);
}

/* media quaries */

@media (max-width: 800px) {
  .steps {
    grid-template-columns: 1fr 1fr;
  }

  .languages {
    grid-template-columns: 1fr 1fr;
  }

  .cv {
    grid-template-columns: 1fr 1fr;
  }

  .navbar .fa-solid {
    margin-left: 0;
  }

  header {
    height: 500px;
  }

  .welcome {
    top: 50%;
  }

  header {
    background-position: center;
  }

  .navbar {
    justify-content: space-around;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  .reference {
    grid-template-columns: 1fr;
  }

  .photo {
    justify-items: center;
    grid-template-columns: 1fr;
  }

  .about-me{
    width: 100vw;
  }

  .what{
    width: 100vw;
  }

  .brands{
    height: 45vh;
    width: 100vw;
    grid-template-columns: 1fr;
    align-content: center;
  }
}

@media (max-width: 500px) {
  .steps {
    grid-template-columns: 1fr;
  }

  .languages {
    grid-template-columns: 1fr;
  }

  .cv {
    grid-template-columns: 1fr;
  }

  .language {
    margin: 0 2rem;
    padding: 2rem;
    border-bottom: 1px solid var(--secondary-white);
  }

  header {
    height: 200px;
  }

  .welcome {
    display: none;
  }

  .navbar {
    justify-content: center;
    text-align: center;
  }

  .navbar .fa-solid {
    margin-top: 10%;
    margin-left: 5%;
  }

  .navbar {
    position: relative;
    transform: translateY(-50px);
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .reference {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 606px) {
  .header {
    justify-content: center;
    align-content: center;
    height: 35vh;
  }

  .navbar {
    position: relative;
    top: 50px;
  }
}
